* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  font-family: Arial, Helvetica, Arial, sans-serif;

  background-color: #d9afd9;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
